body {
    background-image: url('../bgct.jpg') !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}

img {
    object-fit: cover;
}